/************/
/* 960px  */
@media screen and (max-width: 60em) {
  html {
    font-size: 60%;
  }
  .hero-content {
    margin-top: 20%;
  }
}
/************/
/* 750px  */
@media screen and (max-width: 47em) {
  .hero-content {
    margin-top: 30%;
  }
}

/************/
/* 650px  */
@media screen and (max-width: 41em) {
  html {
    font-size: 50%;
  }
  .hero-content {
    margin-top: 40%;
  }
}

/************/
/* 550px  */
@media screen and (max-width: 34em) {
  .hero-message {
    font-size: 6rem;
  }
  .emphasized-message {
    font-size: 10rem;
  }
  .message {
    font-size: 1.4rem;
  }
  .hero-content {
    margin-top: 55%;
  }
}

/* 350px  */
@media screen and (max-width: 23em) {
  html {
    font-size: 40%;
  }
  .hero-message {
    font-size: 4rem;
  }
  .emphasized-message {
    font-size: 8rem;
  }
  .message {
    font-size: 1rem;
  }
  .hero-content {
    margin-top: 65%;
  }
}
