* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 3rem;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.781);
  width: 100%;
  z-index: 100;
  justify-content: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.nav-bar {
  /* background-color: blue; */
  padding: 2rem 0rem;
  width: 90rem;
  justify-self: center;
}
.nav-bar ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: flex-end;
  list-style: none;
  font-size: 2rem;
  font-weight: 700;
}

.drop {
  position: relative;
}

.drop-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.781);
  padding: 2rem;
  width: auto;
  align-items: flex-start;
  font-size: 1.5rem;
  white-space: nowrap;
  top: 2.5rem;
  left: 0rem;
  display: none;
}

.drop-menu a:link,
.drop-menu a:visited {
  text-decoration: none;
  color: #222;
}
.drop-menu a:hover,
.drop-menu a:active {
  text-decoration: none;
  color: #a81420;
}
.drop:hover .drop-menu {
  display: flex;
}

.nav-bar a {
  text-decoration: none;
  color: #000;
}
.nav-bar a:hover,
.nav-bar a:active {
  color: #a81420;
}

.container {
  display: flex;
  gap: 4rem;
  padding: 10rem 0;
  margin: 0 auto;
  width: 90rem;
  justify-content: space-between;
  /* background-color: #333; */
}
h1 {
  color: #001a00;
  font-size: 4rem;
  font-family: "Dancing Script", cursive;
  font-weight: 600;
}
.rating {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1rem;
}
.star {
  padding-top: 3px;
  width: 1.5rem;
  overflow: hidden;
  color: yellow;
}
.first-section img {
  width: 100%;
  background-color: linear-gradient(
    to top,
    rgba(34, 34, 34, 0.322),
    rgba(34, 34, 34, 0.815)
  );
}
.des-image {
  align-items: center;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.des-image:hover {
  transform: scale(1.01);
  cursor: pointer;
  overflow: hidden;
}
.description-images {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
}
figure {
  overflow: hidden;
  width: 100%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border: 7px solid #f4f3f8;
}
.description {
  width: 60%;
}
.ingredients {
  background-color: #fff;
  padding: 2rem 3rem;
  margin-top: 2rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  color: #333;
}
.preparation {
  padding: 2rem 3rem;
  margin-top: 2rem;
  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px; */
  color: #333;
  background-color: #ffff;
}
.caption {
  background-color: #ffff;
  position: absolute;
  background-color: rgba(17, 17, 17, 0.432);
  color: #333;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-decoration: none;
}
.des-caption1 {
  top: 41rem;
}
.des-caption2 {
  top: 96rem;
}
.des-caption3 {
  top: 119rem;
}
.caption a {
  text-decoration: none;
  color: #ffff;
  font-weight: 600;
  letter-spacing: 1px;
}
